@font-face {
    font-family: aller;
    src: url("assets/fonts/Aller_Lt.ttf");
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("assets/images/himmelmobile.png");
}

/* Header styling */

.topnav{
    overflow: hidden;
    background-color: #649CCC;
    display: flex;
    justify-content: space-between;
}
  

.hideElement{
    display: none;
}

.showBurger{
    display: block !important;
    position: absolute !important;
    top: 78px;
    left: 0px;
    background-color: #649CCC;
    width: 100%;
    z-index: 1;
}

.icon{
    font-size: 1.5rem !important;
}

.cart{
    font-size: 1.5rem !important;
}

#logo{
    width: 120px;
}

.topnav a{
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}
  

/* Footer styling*/

#footer{
    background-color: #649CCC;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footertekstdiv{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#someDiv{
    width: 50%;
}
.some{
    width: 20%;
    margin: 5px;
    margin-right: 10px;
    margin-top: 2.5%;
}

.hideMobile{
    display: none;
}

@media screen and (min-width: 992px){
    body{
        background-image: url("assets/images/himmelopa.png");
        background-size: cover;
    }

    .icon{
        display: none !important;
    }

    .topnav #myLinks{
        display: flex;
        position: sticky;
        margin-left: 20%;
    }

    #myLinks a{
        font-weight: bold;
        border-right: solid;        
    }
    
    #myLinks > a:first-child{
        border-left: solid;        
    }

    .topnav{
        display: flex;
        align-items: center;
    }

    #logo{
        width: 200px;
    }

    .cart{
        font-size: 2.5rem !important;
        margin-right: 20px;
        margin-left: 0;
        padding-right: 0;
    }

    #footer{
        background-color: #649CCC;   
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .some{
        margin: unset;
        height: unset;
        width: 7%;
    
    }
   
    #someDiv{
        margin-left: 3%;
    }

    #footertekstdiv{
        justify-content: end;
    }
    .footertekst{
        margin: 1rem;
    }

    .hideMobile{
        display: unset;
    }


}

