@import url("../style.css");

#kasseone {
    width: 50%;
    height: 154px;
    float: left;
}

#kassetwo {
    width: 50%;
    height: 154px;  
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 80%;
    font-family: aller;
}

.fremhæv{
    font-weight: 900;
}

#bestilknap{
    background-color: rgba(202, 214, 172, 0.7);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 154px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 10px gray;
    margin-bottom: 10%;
    margin-top: 10%;
}

#bestilher{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 120%;
}
.picture2{
    display:none;
}

@media screen and (min-width:992px) {
    .picture{
        display:none;
    }
    .picture2{
        display:flex;
        justify-content: space-between;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;

    }

    #cows{
     height: 500px;  
     width:33%;
     object-fit: cover;
     object-position: 100%;
     margin-top: 10%;
     
    }

    #madpakke{
        height: 500px;
        width:33%;
        object-fit: cover;
        margin-top: 10%;
    }
    #text{
        height: 200%;
        
    }

}