body{
    margin: 0;
    background-color: #E5F3FF;
    font-family: 'Courier New', Courier, monospace;
}

.topnav{
    overflow: hidden;
    position: relative;
    background-color: #6CBBFF;
  }
.flexnav{
    display: flex;
    justify-content: space-between;
}
  
.topnav #myLinks{
    display: none;
}

.icon{
    font-size: 1.5rem !important;
}

#logo{
    width: 120px;
}

.topnav a{
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

#footer{
    background-color: #6CBBFF;   
    display: flex;
}

.some{
    height: 10%;
    width: 10%;
    margin: 5px;
    margin-right: 10px;
    margin-top: 2.5%;
}

.footertekst{
    margin-right: 10%;
    margin-left: 10%;
}

#udfyldcontainer{
    display: grid;
    grid-template-areas:
    'fornavn fornavn efternavn efternavn'
    'vejnavn vejnavn vejnavn vejnavn'
    'postnummer postnummer by by'
    'telefonnummer telefonnummer telefonnummer telefonnummer'
    'øvrig øvrig øvrig øvrig'
    ;
    background-color: white;
    margin: 5%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 3px 10px gray;
}

.fornavn{
    grid-area: fornavn;
}

.efternavn{
    grid-area: efternavn;
}

.vejnavn{
    grid-area: vejnavn;
}

.postnummer{
    grid-area: postnummer;
}

.by{
    grid-area: by;
}

.telefonnummer{
    grid-area: telefonnummer;
}

.øvrig{
    grid-area: øvrig;
}

.langinput{
    width: 92.5%;
}

#tekstbox{
    margin-left: 7%
}

#levering{
    margin-bottom: 3%;
}

h4{
    margin: 0%;
    font-weight: 600;
}

#priscontainer{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 3px 10px gray;
    margin-left: 5%;
    margin-right: 5%;
}

#overskriftId{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.prisoverskrift{
    margin: 2%;
}

#hrId{
    margin-left: 3%;
    margin-right: 3%;
}

#prisId{
    display: flex;
    justify-content: space-between;
    margin: 3%;
    
}

#leveringId{
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

#hrId2{
    margin: 0%;
    border-style: solid;
    border-width: .5px;
}

#totalId{
    display: flex;
    justify-content: space-between;
    background-color: rgb(210, 209, 209);
    padding: 3%;
}

#betalingsikoner{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
}

#betaling{
    text-align: center;
    margin-top: 10%;
}

