@import url("../style.css");

.kort {
    width: 100%;
 }
 
 p {
     margin-left: 50px;
     font-family: aller;
     font-weight: lighter;
 }
 
 h2 {
     margin-left: 50px;
 }
 
 .billedeone{
     width: 50%;
     height: 154px;
     float: left;
 }
 
 .billedetwo {
     width: 50%;
     height: 154px;
 }